#home-hero {
  background-image: url("../../assets/ss.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -5rem;
  z-index: 1000;
}

.bgCol {
  background-color: #e1f5fe;
}

.cardBg {
  border-radius: 2rem;
}

h3 {
  font-size: larger;
}

.button-left {
  border-radius: 1.5rem 0 0 1.5rem;
}

.button-right {
  border-radius: 0 1.5rem 1.5rem 0;
}

.searchBtn {
  width: 100%;
  text-transform: capitalize;
}
